#mainFinalizarCompra{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    gap: 32px;
}

#sectionMinhaCesta{
    width: 70vw;
    display: grid;
    
    gap: 32px;
}

#listaDeProdutos{
    display: flex;
}

.cardDoProdutoFinalizarCompra{
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    box-sizing: border-box;
    padding: 16px;
    justify-content: space-around;
    height: 280px;
    width: 400px;
}

.imagemDoProdutoFinalizarCompra{
    width: 150px;
    height: 150px;
    flex-grow: 0;
}

.textoDoProdutoFinalizarCompra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.divInputeRemoverePreco{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.divInputeRemover{
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 8px;
    width: 50%;
}

.inputQuantidadeFinalizarCompra{
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
}

/* Resumo da compra */

#resumoCompraTotal{
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4);
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: space-around;
    height: 200px;
    position: fixed;
    margin-left: 75vw;
    margin-top: 60px;
    gap: 8px;
}


#quatidadeProdutosResumo,#precoProdutosResumo{
    font-size: 18px;
    font-weight: bold;
}

#divFinalizarCompraEVerMais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}



#btnFinalizarCompra{
    height: 50px;
    width: 20vw;
    position: fixed;
    margin-left: 75vw;
    margin-top: 280px;
    border-radius: 8px;
    border: 1px solid #44344F;
    background-color: #44344F;
    color: #D3FCD5;
    transition: 0.5s ease-in-out;
}

#btnFinalizarCompra:hover{
    background-color: #fff;
    color: #44344F;
}

#btnVoltarAHome{
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}