/* Gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button,input,a{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

abbr{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #D3FCD5;

}
/* Menu e Header */
#menuPrincipal{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #44344F;
    color: #D3FCD5;
    width: 100vw;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.4);
    padding: 12px 24px;
}

#logoMenu{
    display: flex;
    align-items: center;
    gap: 16px;
}
#menuPrincipal p{
    font-size: 22px;
}

#iconesMenu{
    display: flex;
    align-items: center;
    gap: 16px;
}

#botaoCarrinhoDoMenu{
    height: 30px;
    background-size: 20px;
}

#iconeLogin{
    background-image: url(../imagens/avatarVazio.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;

    height: 30px;
    width: 30px;
    
}

#iconeAviso{
    background-image: url(../imagens/aviso.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;

    height: 30px;
    width: 30px;
}

/* Area dos Produtos */

#demostracaoDosProdutos{
    margin-top: 20px;
    padding: 0px 32px;
    display: grid;
    gap: 32px;
    justify-items: center;
}

.cardDoProduto{
    height: 300px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4);
}

.divImagemDoProduto{
    /* border-bottom: 1px solid #44344F; */
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius:8px 8px 0px 0px;
}

.imagemDoProduto{
    height: 90px;
    width: 80px;
}

.textoDoProduto{
    height: 60%;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textoDoProduto p{
    color: rgb(162, 162, 162);
    font-size: 12px
}

.textoDoProduto h2{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    width: 180px;
}

.textoDoProduto h3{
    font-size: 24px;
}

.divBotoesDoCard{
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap: 8px;
    height: 50px;
    align-items: center;
}

.botaoComprarDoCard{
    height: 80%;
    border-radius: 8px;
    border: 1px solid #44344F;
    background-color: #44344F;
    color: #D3FCD5;
    transition: 0.5s ease-in-out;
}

.botaoComprarDoCard:hover{
    background-color: #fff;
    color: #44344F;
}

.botaoCarrinhoDoCard,#botaoCarrinhoDoMenu{
    background-image: url(../imagens/carrinho.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    width: 30px;
}

.botaoCarrinhoDoCard{
    height: 80%;
    width: 80%;
}

#mainComprarProduto{
    margin-top: 80px;
}


@media (max-width:540px){
    #menuPrincipal a>h1{
        font-size: 24px;
    }

    p#dinheiroCliente{
        font-size: 12px;
    }

    #iconesMenu{
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        justify-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }
}