.backgroundEscuro {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.parteBranca {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 280px;
  height: 200px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4);
}

.botaoFechar {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;

}

.botaoFechar:hover,
.botaoFechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#btnEscolhaLogin,
#btnEscolhaCadastro,
.botaoSubmitForm {
  width: 100%;
  height: 50px;
  border: 1px solid #44344F;
  background-color: #44344F;
  color: #D3FCD5;
  border-radius: 10px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4);
  transition: 0.5s ease-in-out;
  font-weight: bolder;
  font-size: 18px;
}

#btnEscolhaLogin:hover,
#btnEscolhaLogin:focus,
#btnEscolhaCadastro:hover,
#btnEscolhaCadastro:focus {
  background-color: #fff;
  color: #44344F;
}

.conteinerUsal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 280px;
  height: 320px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4);
}

.botaoSubmitForm {
  height: 30px;
  
}

#formLogin,#formCadastro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4px;
  height: 100%;
}

.conteinerUsal{
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.4);
}

.conteinerUsal input{
  padding: 4px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4); 
}